<h1>{{title}}</h1>
{{# if products }}
    <div class="cart page">
        <ul class="list-group">
            {{# each products }}
            <li class="list-group-item clearfix">
                <div class="col-xs-5">
                    <strong><a href="/id/{{ this.items.id }}">{{ this.item.title }}</a></strong><br/>
                    {{!-- <em>{{{this.item.description}}}</em> --}}
                </div>
                <div class="col-xs-2 text-right">
                    <span class="badge">{{ this.quantity }}</span>
                </div>
                <div class="col-xs-3 text-right">
                    {{ this.price }} PLN
                </div>
                <div class="col-xs-2 text-right">
                    <a href="/remove/{{this.item.id}}" class="btn btn-default">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="text-right">
        <strong>Suma: {{ totalPrice }} PLN</strong>
    </div>
    <hr>
    <h3>Dane odbiorcy</h3>
    <ul class="list-group">
            <li class="list-group-item clearfix">
                <div class="col-xs-12">
                    {{ data.email }}
                </div>
                <div class="col-xs-12">
                    {{ data.fullname }}
                    {{!-- <span class="badge"></span> --}}
                </div>
                <div class="col-xs-12">
                    <em>{{ data.address }}</em>
                </div>
            </li>
        </ul>
    <hr>
    <div class="text-right">
        <a href="/payment" type="button" class="btn btn-success">Przejdz do płatności</a>
    </div>
{{ else }}
    Koszyk jest pusty.
{{/if}}
